body {
    /* padding-top: 2.5rem; */
    overflow-y:hidden;
  
}

.starter-template {
    padding-top: 3rem;    
}

.update-alert {
    margin-left: 0;
    margin-right: 0;
}
.container{
    padding-right: 0;
    padding-left: 0;
}
.container div.history {
    background: #EAEAEA;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27,31,35,.05);
    padding-top: 32px;
    padding-left: 32px;
    /* height: 160px; */
    /* max-height: 366px; */
    overflow:scroll;
    overflow-x:hidden;
}
.control{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}
.CHAT2,.CHAT3{
    width: 160px;
}
button{
    justify-content: center;
}
.container div.query-form {
    margin-top: 1rem;
}

.container.log {
    padding-top: 32px;
}

.container.config {
    padding-top: 32px;
}

.container.api {
    padding-top: 32px;    
}

.footer {
    text-align: center;
    margin-top: -34px;
   
}

.bubble img {
    width:auto;
    max-width: 80%;
    margin-top: -16px!important;
}
.maxtime{
    width: 50px;
    height: 37px;
    line-height: 37px;
    background-color: #e1e4e8;
    text-align: center;
    margin-left:10px ;
    padding:10px;
}
@media (min-width: 40em)
.featurette-heading {
    font-size: 50px;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.quote {
    padding: 1rem;
    font-family: Lora,Georgia,"Times New Roman",'楷体',STKaiti,serif;
    font-style: italic;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    body{
        /* background: url('bg.jpg'); */
    }
    .jumbotron {
    
    background-color: rgba(38, 147, 220, 0.2);
    box-shadow: 5px 5px 34px 3px rgba(1, 69, 160) inset;
    color: #fff;
    width: 95%;
    margin: 2% auto;
    padding: 1rem 1rem;
    }
    label{
        color:#fff;
         text-align: right;
      margin-top: -5px;
    }

.container{
max-width: 100%;
}
img{
width:86px;
}
